#nav
    %header
        #wordmark
        %a#nav-toggle{ href: "#" }
            %span
    %ul
        = nav_link 'Home', '/'
        = nav_link 'About', '/about'
        = nav_link 'Schedule of Events', '/schedule'
        = nav_link 'Gala Committee', '/gala'
        = nav_link 'Keynote Speaker', '/keynote'
        = nav_link 'Honored Guests', '/guests'
        = nav_link 'Sponsor Levels', '/sponsor-levels'
        = nav_link 'Silent Auction', '/silent-auction'
        = nav_link 'Live Auction', '/live-auction'
        = nav_link 'Online Auction', '/online-auction'
        = nav_link 'Thank You Sponsors', '/thank-you-sponsors'
        = nav_link 'Directions', '/directions'
        = nav_link 'Donate Now', '/donate'
        = nav_link 'Contact Us', '/contact-us'
