.topics
  .container
    %h3
      %strong CELEBRATE TEAM USA IN THEIR QUEST FOR OLYMPIC GOLD
    %p
      Event proceeds benefit the U.S. Wrestling Foundation to expand Olympic
      wrestling and educational opportunities in American colleges.
    %div
      %i.fa.fa-code.fa-2x
      %h4 Leaders of Industry
      %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat.
    %div
      %i.fa.fa-line-chart.fa-2x
      %h4 Wrestling Champions
      %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat.
    %div
      %i.fa.fa-lightbulb-o.fa-2x
      %h4 Answering Questions
      %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat.
%a#speakers.anchor
.speakers
  .container
    %h2 The Speakers
    %p.subtitle Olimpians & World Champions

    .single
      %img{src: asset_url('speakers/randy-couture.jpg') }
      %div
        %h3
          Randy
          %br
          Couture
        %p
          %strong Three-time UFC Heavyweight Champion
        %p American actor, retired mixed martial artist and former collegiate and Greco-Roman wrestler.
        %p
          %a{:href => "#"}
            %i.fa.fa-twitter.fa-lg
          %a{:href => "#"}
            %i.fa.fa-linkedin.fa-lg
    .single
      %img{src: asset_url('speakers/steve-fraser.jpg') }
      %div
        %h3
          Steve
          %br
          Fraser
        %p
          %strong Olympic Gold Medalist
        %p Coach of the US Greco Roman team since 1997
    .single
      %img{src: asset_url('speakers/dan-henderson.jpg') }
      %div
        %h3
          Dan
          %br
          Henderson
        %p
          %strong Strikeforce Light Heavyweight Champion
        %p Only mixed martial artist to concurrently hold two titles in two different weight classes in a major MMA promotion.
    .single
      %img{src: asset_url('speakers/kurt-angle.jpg') }
      %div
        %h3
          Kurt
          %br
          Angle
        %p
          %strong Olympic gold medalist, professional wrestler
        %p Named the greatest shoot wrestler ever in 2006, and top 15 college wrestlers of all time by USA Wrestling.
    .single
      %img{src: asset_url('speakers/rulon-gardner.jpg') }
      %div
        %h3
          Rulon
          %br
          Gardner
        %p
          %strong Olympic Gold Medalist
        %p First Olympic gold medal won by an American Greco-Roman wrestler in a full international field.
%a#schedule.anchor
.schedule
  .container
    %h2 Conference Schedule
    %p.subtitle packed with high quality content, just for you.
    .tabs
      -#%ul
      -#  %li
      -#    %a{:href => "#tabs-1"} One Day Only
      #tabs-1.day
        .event
          .event-time
            17:00
            %span
          .event-info
            %div
              %h4 Doors Open
        .event.extend
          .event-time
            17:00-18:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} VIP Reception
              %p.speaker
                %strong Meet and Greet
                = succeed "Something" do
                  %br
                Something something
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
        .event.extend
          .event-time
            18:00-19:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} General Reception
              %p.speaker
                %strong Meet and Greet
                = succeed "Something" do
                  %br
                Something something
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus
                = succeed "." do
                  %a{:href => "#"}
                    %i.fa.fa-anchor
                    lorem vel interdum volutpat
                Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
        .event.extend
          .event-time
            19:00-21:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} Evening Program
              %p.speaker
                %strong Hear from our host and guest speakers
                = succeed "Something" do
                  %br
                Something something
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus
                = succeed "." do
                  %a{:href => "#"}
                    %i.fa.fa-anchor
                    lorem vel interdum volutpat
                Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.

.why
  .container
    .bullets
      %h3 Why is this conference for you?
      %div
        %h4
          %i.fa.fa-check
          Stay Ahead of the curve
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
      %div
        %h4
          %i.fa.fa-check
          Find new ways of thinking and problem-solving
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut.
      %div
        %h4
          %i.fa.fa-check
          Networking opportunities
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
      %div
        %h4
          %i.fa.fa-check
          Strengthen Your Skills
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
%a#registration.anchor
.registration
  .container
    %h2 Pricing & Registration
    %p.subtitle
      %strong Only 300 available seats
      Get your Conference Tickets early.
    %p.desc Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
    %h3 Fill out your information
    .form
      %form{:action => "", :method => "post"}
        %button{:name => "submit", :type => "submit"} Confirm Your Order
    .price
      %div
        %p.amount $330
        %h4
          Early Bird
          %span Save NOW
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mollis risus. Nulla ornare ipsum id lacus vehicula sit amet euismod nibh sagittis.
      %div
        %p.amount $350
        %h4 Conference
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mollis risus. Nulla ornare ipsum id lacus vehicula sit amet euismod nibh sagittis.
      %div
        %p.amount $500
        %h4 Conference + Workshops
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mollis risus. Nulla ornare ipsum id lacus vehicula sit amet euismod nibh sagittis.
%a#sponsors.anchor
.sponsors
  .container
    %h2 Sponsors & Partners
    %p.subtitle
      Interested in becoming a sponsor?
      %a.open-contact-form{:href => "#"} Get in touch
    .slides
      %ul
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
%a#location.anchor
.location
  .container
    %h2 Location and Venue
    %p.subtitle area full of great hotels and restaurants.
    .info
      .maps
        .images
        #map_canvas
      .address
        %h4 Spend three inspiring days in the cultural and cosmopolitan city of London. The area is full of great hotels, restaurants and galleries.
        %h5
          %i.fa.fa-chevron-right
          Venue
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        %h5
          %i.fa.fa-chevron-right
          Nearby Accomodation
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        %h5
          %i.fa.fa-chevron-right
          Additional details
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.social
  .container
    %div
      %h2 Keep me informed
      %p.subtitle Signup to our newsletter or connect via social networks
      %form{:action => "", :method => "post"}
        %button{:name => "submit", :type => "submit"}
          %i.fa.fa-arrow-circle-right
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-google-plus
      %a{:href => "#"}
        %i.fa.fa-linkedin
.footer
  .container
    %p
      Copyright 2014
.back
.container
  %a{:href => "#top"}
    %i.fa.fa-angle-up.fa-3x
.overlay{:style => "display: none;"}
.contact-form
  %h3 Contact Us
  %p We will get back to you as soon as possible
  .form
    %form{:action => "contact.php", :method => "post"}
      %textarea{:name => "message", :placeholder => "Message"}
      %button{:name => "submit", :type => "submit"} Send Message
  %p.error
  %p.message
  %a.close-contact-form{:href => "#"}
    %i.fa.fa-times.fa-lg
