.topics
  .container
    %h3
      %strong For three days,
      = succeed "creative" do
        %br
      experts making great ideas happen.
    %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Sed suscipit erat egestas ante sollicitudin, quis tristique leo tristique.
    %div
      %i.fa.fa-code.fa-2x
      %h4 Leaders of Industry
      %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat.
    %div
      %i.fa.fa-line-chart.fa-2x
      %h4 Wrestling Champions
      %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat.
    %div
      %i.fa.fa-lightbulb-o.fa-2x
      %h4 Answering Questions
      %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat.
%a#speakers.anchor
.speakers
  .container
    %h2 The Speakers
    %p.subtitle Master Classes from creative experts
    .featured
      .image
      %div
        %h3
          Featured: Steve Fraser
          %p.title Champion
          %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
          %p Sed suscipit erat egestas ante sollicitudin, quis tristique leo tristique. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi.
    .single
      %div
        %h3
          Jennifer
          %br
          Smith
        %p
          %strong Web developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
        %p
          %a{:href => "#"}
            %i.fa.fa-twitter.fa-lg
          %a{:href => "#"}
            %i.fa.fa-linkedin.fa-lg
    .single
      %div
        %h3
          Mike
          %br
          Jonson
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
    .single
      %div
        %h3
          Todd
          %br
          Johnson
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
    .single
      %div
        %h3
          Jessica
          %br
          Smith
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
    .single
      %div
        %h3
          Lusi
          %br
          Smith
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
    .single
      %div
        %h3
          Mike
          %br
          Smith
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
    .single
      %div
        %h3
          Lisa
          %br
          Smith
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
    .single
      %div
        %h3
          Ken
          %br
          Smith
        %p
          %strong Frontend developer
        %p Lorem Ipsum Dolor Sit Amanet Duis non sem nisi Phasellus iaculis placerat neque id fringilla.
%a#scheadule.anchor
.schedule
  .container
    %h2 Conference Schedule
    %p.subtitle packed with high quality content, just for you.
    .tabs
      %ul
        %li
          %a{:href => "#tabs-1"} Day 1, 7th
        %li
          %a{:href => "#tabs-2"} Day 2, 8th
        %li
          %a{:href => "#tabs-3"} Day 3, 9th
      #tabs-1.day
        .event
          .event-time
            08:30
            %span
          .event-info
            %div
              %h4 Registration
        .event.extend
          .event-time
            08:45 - 09:15
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} The Future of the Web: and how to prepare for it now
              %p.speaker
                %strong Samantha Jonson
                = succeed "Founder" do
                  %br
                of Creative Agency
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
        .event.extend
          .event-time
            08:45 - 09:15
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} The Future of the Web: and how to prepare for it now
              %p.speaker
                %strong Samantha Jonson
                = succeed "Founder" do
                  %br
                of Creative Agency
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus
                = succeed "." do
                  %a{:href => "#"}
                    %i.fa.fa-anchor
                    lorem vel interdum volutpat
                Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
        .event
          .event-time
            13:00
            %span
          .event-info
            %div
              %h4 Lunch Break
        .event.extend
          .event-time
            14:30 - 15:45
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} Workshop: The Future of the Web: and how to prepare for it now
              %p.speaker
                %strong Samantha Jonson
                = succeed "Founder" do
                  %br
                of Creative Agency
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
      #tabs-2.day
        .event
          .event-time
            08:30
            %span
          .event-info
            %div
              %h4 Registration
        .event.extend
          .event-time
            08:45 - 09:15
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} Workshop: The Future of the Web: and how to prepare for it now
              %p.speaker
                %strong Samantha Jonson
                = succeed "Founder" do
                  %br
                of Creative Agency
              %p Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
        .event
          .event-time
            13:00
            %span
          .event-info
            %div
              %h4 Lunch Break
        .event.extend
          .event-time
            14:30 - 15:45
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} Workshop: The Future of the Web: and how to prepare for it now
              %p.speaker
                %strong Samantha Jonson
                = succeed "Founder" do
                  %br
                of Creative Agency
              %p Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
      #tabs-3.day
        .event
          .event-time
            08:30
            %span
          .event-info
            %div
              %h4 Registration
        .event.extend
          .event-time
            08:45 - 09:15
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} Workshop: The Future of the Web: and how to prepare for it now
              %p.speaker
                %strong Samantha Jonson
                = succeed "Founder" do
                  %br
                of Creative Agency
              %p Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
.why
  .container
    .bullets
      %h3 Why is this conference for you?
      %div
        %h4
          %i.fa.fa-check
          Stay Ahead of the curve
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
      %div
        %h4
          %i.fa.fa-check
          Find new ways of thinking and problem-solving
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut.
      %div
        %h4
          %i.fa.fa-check
          Networking opportunities
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
      %div
        %h4
          %i.fa.fa-check
          Strengthen Your Skills
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
%a#registration.anchor
.registration
  .container
    %h2 Pricing & Registration
    %p.subtitle
      %strong Only 300 available seats
      Get your Conference Tickets early.
    %p.desc Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
    %h3 Fill out your information
    .form
      %form{:action => "", :method => "post"}
        %button{:name => "submit", :type => "submit"} Confirm Your Order
    .price
      %div
        %p.amount $330
        %h4
          Early Bird
          %span Save NOW
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mollis risus. Nulla ornare ipsum id lacus vehicula sit amet euismod nibh sagittis.
      %div
        %p.amount $350
        %h4 Conference
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mollis risus. Nulla ornare ipsum id lacus vehicula sit amet euismod nibh sagittis.
      %div
        %p.amount $500
        %h4 Conference + Workshops
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac mollis risus. Nulla ornare ipsum id lacus vehicula sit amet euismod nibh sagittis.
%a#sponsors.anchor
.sponsors
  .container
    %h2 Sponsors & Partners
    %p.subtitle
      Interested in becoming a sponsor?
      %a.open-contact-form{:href => "#"} Get in touch
    .slides
      %ul
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
%a#location.anchor
.location
  .container
    %h2 Location and Venue
    %p.subtitle area full of great hotels and restaurants.
    .info
      .maps
        .images
        #map_canvas
      .address
        %h4 Spend three inspiring days in the cultural and cosmopolitan city of London. The area is full of great hotels, restaurants and galleries.
        %h5
          %i.fa.fa-chevron-right
          Venue
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        %h5
          %i.fa.fa-chevron-right
          Nearby Accomodation
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        .venue
          %p
            %span Town and Country Resort & Convention Center
          %p 500 Hotel Circle North
          %p San Diego, CA 92108
          %a{:href => "#"} Book Online
        %h5
          %i.fa.fa-chevron-right
          Additional details
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.social
  .container
    %div
      %h2 Keep me informed
      %p.subtitle Signup to our newsletter or connect via social networks
      %form{:action => "", :method => "post"}
        %button{:name => "submit", :type => "submit"}
          %i.fa.fa-arrow-circle-right
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-google-plus
      %a{:href => "#"}
        %i.fa.fa-linkedin
.footer
  .container
    %p
      Copyright 2014
.back
.container
  %a{:href => "#top"}
    %i.fa.fa-angle-up.fa-3x
.overlay{:style => "display: none;"}
.contact-form
  %h3 Contact Us
  %p We will get back to you as soon as possible
  .form
    %form{:action => "contact.php", :method => "post"}
      %textarea{:name => "message", :placeholder => "Message"}
      %button{:name => "submit", :type => "submit"} Send Message
  %p.error
  %p.message
  %a.close-contact-form{:href => "#"}
    %i.fa.fa-times.fa-lg
